*{
    font-size: 20px;
    font-family: "Roboto", serif;
    color: white
}

a{
    text-decoration: none;
    padding: 10px 0px 10px 5%;
    width: 95%;
    
}
.aside-element{
    display: flex;
    flex-direction: column;
}

a:hover{
    background-color: #32497e;
    padding: 10px 0px 10px 7%;;
    transition: 0.3s;
}

.aside-name-elemets{
    text-align: center;
    background-color: #061537;
    margin: 0;
    padding:20px 0;
}

body{
    background-color: #09225a;
    margin: 0;
}

